<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Desde Windows 10 Pro hasta Ubuntu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Office, Navegadores, Editores de Imagenes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Reparación de computadoras</h5>
                            <p class="card-text">Cambio de Piezas, Reparacion, Cambio de Pasta Termica.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
              <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagen4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Mantenimiento Preventivo PC</h5>
                            <p class="card-text">Aplicaremos un mantenimiento preventivo de tu PC.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagen5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Recuperacion de Archivos</h5>
                            <p class="card-text">Recuperar Archivos dañados o perdidos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/imagen6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Formateo PC</h5>
                            <p class="card-text">Limpieza del equipo y dejar el equipo funcionando desde cero.</p>
                        </div>
                    </div>
                </div>
                
            </div>
         


        </div>
    </div>
</div>
